h1{
    background-image: url(../img/fundoazul.png);
    text-align: center;
}

h2 {
    border-bottom: 2px solid gray;
}

figure{
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
}